<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <nav>
        <ul class="menu-bar">
            {% for page in menu_pages %}
            <li><a href="{{ page['filename'] }}">{{ page['title'] }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <main>
        <a id="top"></a>
        <h1>{{ page_title }}</h1>
        <!-- Language Bar -->
        <div class="language-bar">
            {% for language in languages %}
                <a href="#lang-{{ language['name'] }}">{{ language['name'] }}</a>
            {% endfor %}
        </div>
        {% for language in languages %}
        <section>
            <a id="lang-{{ language['name'] }}"></a>
            <h2>
                {{ language['name'] }}
                <a href="#top" class="go-top-btn" title="Go to top">&#8679; Top</a>
            </h2>
            <table>
                <thead>
                    <tr>
                        <th>Audio Sample</th>
                        <th>Transcription</th>
                        <th>CER (in %)</th>
                        <th>WER (in %)</th>
                        <th>F0 RMSE (Hz)</th>
                        <th>MCD</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(language['num_samples']) %}
                    <tr>
                        <!-- Ground Truth Row -->
                        <td>
                            <audio controls src="{{ language['ground_truth_audio'][i] }}"></audio>
                        </td>
                        <td>
                            <b>Original:</b> {{ language['original_transcriptions'][i] }}<br>
                            <b>omniASR_LLM_1B on GT:</b> {{ language['ground_truth_transcriptions'][0][i] }}<br>
                            <b>omniASR_CTC_3B on GT:</b> {{ language['ground_truth_transcriptions'][1][i] }}
                        </td>
                        <td>
                            <br>
                            {{ language['cer_ground_truth'][0][i] }}<br>
                            {{ language['cer_ground_truth'][1][i] }}
                        </td>
                        <td>
                            <br>
                            {{ language['wer_ground_truth'][0][i] }}<br>
                            {{ language['wer_ground_truth'][1][i] }}
                        </td>
                        <td rowspan="2" style="vertical-align: middle; text-align: center;">
                            {{ language['f0'][i] }}
                        </td>
                        <td rowspan="2" style="vertical-align: middle; text-align: center;">
                            {{ language['mcd'][i] }}
                        </td>
                    </tr>
                    <tr>
                        <!-- Synthesised Row -->
                        <td>
                            <audio controls src="{{ language['synthesised_audio'][i] }}"></audio>
                        </td>
                        <td>
                           <b>omniASR_LLM_1B on synthesis:</b> {{ language['synthesised_transcriptions'][0][i] }}<br>
                           <b>omniASR_CTC_3B on synthesis:</b> {{ language['synthesised_transcriptions'][1][i] }}
                        </td>
                        <td>
                            {{ language['cer_synthesised'][0][i] }}<br>
                            {{ language['cer_synthesised'][1][i] }}
                        </td>
                        <td>
                            {{ language['wer_synthesised'][0][i] }}<br>
                            {{ language['wer_synthesised'][1][i] }}
                        </td>
                        <!-- MCD cell is spanned above -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        {% endfor %}
    </main>
</body>
</html>